<div id="layout-wrapper">
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="/" class="logo logo-light">
                        <span class="logo-sm">
                            <img src="/assets/images/favicon.png" alt="" height="32">
                        </span>
                        <span class="logo-lg">
                            <img src="/assets/images/favicon.png" alt="" height="28" style="margin-right: 8px; vertical-align: middle;">
                            <span class="brand-text" style="font-size: 1.2rem; font-weight: 600; color: #fff; letter-spacing: 1px; vertical-align: middle;">DisMusic</span>
                        </span>
                    </a>
                </div>

                <button type="button" class="btn btn-sm px-3 font-size-24 header-item waves-effect" id="vertical-menu-btn">
                    <i class="mdi mdi-menu"></i>
                </button>

            </div>

            <div class="d-flex">

                <div class="dropdown d-none d-lg-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" data-bs-toggle="fullscreen">
                        <i class="mdi mdi-fullscreen"></i>
                    </button>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-notifications-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-bell-outline"></i>
                        <span class="badge bg-danger rounded-pill">3</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0" aria-labelledby="page-header-notifications-dropdown">
                        <div class="p-3">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5 class="m-0 font-size-16"> Notifications (258) </h5>
                                </div>
                            </div>
                        </div>
                        <div data-simplebar style="max-height: 230px;">
                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                            <span class="avatar-title bg-success rounded-circle font-size-16">
                                                <i class="mdi mdi-cart-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your order is placed</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">Dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                            <span class="avatar-title bg-warning rounded-circle font-size-16">
                                                <i class="mdi mdi-message-text-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">New Message received</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">You have 87 unread messages</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                            <span class="avatar-title bg-info rounded-circle font-size-16">
                                                <i class="mdi mdi-glass-cocktail"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your item is shipped</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">It is a long established fact that a reader will</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                            <span class="avatar-title bg-primary rounded-circle font-size-16">
                                                <i class="mdi mdi-cart-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">Your order is placed</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">Dummy text of the printing and typesetting industry.</p>
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="" class="text-reset notification-item">
                                <div class="d-flex">
                                    <div class="flex-shrink-0 me-3">
                                        <div class="avatar-xs">
                                            <span class="avatar-title bg-danger rounded-circle font-size-16">
                                                <i class="mdi mdi-message-text-outline"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex-grow-1">
                                        <h6 class="mb-1">New Message received</h6>
                                        <div class="font-size-12 text-muted">
                                            <p class="mb-1">You have 87 unread messages</p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="p-2 border-top">
                            <div class="d-grid">
                                <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                                    View all
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="dropdown d-inline-block">
                    <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="rounded-circle header-profile-user" src="/assets/images/users/user-4.jpg"
                            alt="Header Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">
                        <!-- item-->
                        <a class="dropdown-item" href="#"><i class="mdi mdi-account-circle font-size-17 align-middle me-1"></i> Profile</a>
                        <a class="dropdown-item" href="#"><i class="mdi mdi-cog font-size-17 align-middle me-1"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#"><i class="bx bx-power-off font-size-17 align-middle me-1 text-danger"></i> Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">

        <div data-simplebar class="h-100">

            <!--- Sidemenu -->
            <div id="sidebar-menu">
                <!-- Left Menu Start -->
                <ul class="metismenu list-unstyled" id="side-menu">
                    <li>
                        <a href="/dashboard/browse" class="waves-effect{% if active_page == 'browse' %} active{% endif %}">
                            <i class="ti-music"></i>
                            <span>Browse</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/search" class="waves-effect{% if active_page == 'search' %} active{% endif %}">
                            <i class="ti-search"></i>
                            <span>Search</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/lyrics" class="waves-effect{% if active_page == 'lyrics' %} active{% endif %}">
                            <i class="ti-microphone"></i>
                            <span>Lyrics</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/stats" class="waves-effect{% if active_page == 'stats' %} active{% endif %}">
                            <i class="ti-stats-up"></i>
                            <span>Stats</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/current-queue" class="waves-effect{% if active_page == 'current-queue' %} active{% endif %}">
                            <i class="ti-music-alt"></i>
                            <span>Current Queue</span>
                        </a>
                    </li>
                    <li class="menu-title">Library</li>
                    <li>
                        <a href="/dashboard/playlists" class="waves-effect{% if active_page == 'playlists' %} active{% endif %}">
                            <i class="ti-book"></i>
                            <span>Playlists</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/artists" class="waves-effect{% if active_page == 'artists' %} active{% endif %}">
                            <i class="ti-user"></i>
                            <span>Artists</span>
                        </a>
                    </li>
                    <li>
                        <a href="/dashboard/albums" class="waves-effect{% if active_page == 'albums' %} active{% endif %}">
                            <i class="ti-control-record"></i>
                            <span>Albums</span>
                        </a>
                    </li>



                </ul>
            </div>
            <!-- Sidebar -->
        </div>
    </div>
</div>

<!-- Custom CSS -->
<style>
    .brand-text-hidden {
        visibility: hidden;
        width: 0;
        min-width: 0;
        padding: 0;
        margin: 0;
        display: inline-block;
        transition: width 0.2s;
    }
    @media (max-width: 767.98px) {
    #brand-text {
        display: none !important;
    }
}
</style>


<!-- Custom Scripts -->

<script>
    const btn = document.getElementById('vertical-menu-btn');
    const brandText = document.getElementById('brand-text');
    let hidden = false;
    btn.addEventListener('click', function() {
        hidden = !hidden;
        if (hidden) {
            brandText.classList.add('brand-text-hidden');
        } else {
            brandText.classList.remove('brand-text-hidden');
        }
    });
</script>